<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320242355547-mcm1jpn2un0m14cdf2p7nla6m9ljlb3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320242355547-mcm1jpn2un0m14cdf2p7nla6m9ljlb3v</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ2a3xgarJk8qlNGzNCLzrH3H_XmGSUaY</string>
	<key>GCM_SENDER_ID</key>
	<string>320242355547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>App use push notification</string>
	<key>BUNDLE_ID</key>
	<string>com.easyride.ezride</string>
	<key>PROJECT_ID</key>
	<string>eazyride-e70a8</string>
	<key>STORAGE_BUCKET</key>
	<string>eazyride-e70a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320242355547:ios:48188b91df3aff5f369e7e</string>
</dict>
</plist>